/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"; */


html{

  font-family: 'Courier New', monospace;
  --background-color:rgb(27,29,33);
  --font_color_dark:white;
  --font_color_light:rgb(192, 192, 192);
  --font_color_link: rgb(16, 164, 249);
  --shadow: rgb(0, 0, 0);
}

body{
  background-color: var(--background-color);
  margin-left: 9%;
  margin-right: 9%;
  font-family: 'Catamaran', sans-serif;
  font-size: 1em;
  color: var(--font_color_dark);
  transition: all .5s ease-in-out;
}

/* header{
  background-color: rgb(83, 83, 83);
  padding-left: 2em;
} */

/* h1{
  text-align: right;
} */

h1::before, h2::before, h3::before {
  padding-right: .5em;
  content: "❯";
  color: var(--font_color_link);
  font-weight: 500;
}

time{
  color: rgba(255, 255, 255, 0.315);
}

article{
  /* border-style: solid; */
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 1em;
  padding-left: 1em;
  padding: .7em;
  margin:.2em;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


body{
  display: flex;
  flex-direction: column
}

a {
  color: var(--font_color_link);
  text-decoration: none;
  transition: color .4s ease-in-out;
  /* filter: drop-shadow(-.15em .15em .05em var(--shadow))1 */
}

a:hover {
  color: var(--font_color_dark);
  /* font-weight: 700; */
  /* letter-spacing: -.035em; */
}

.postPreview{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.utterances-frame{
  color: black;
}