img {
  max-width: 60em;
}

video{
  max-width: 60em;
}

audio { 
  max-width: 14em;
}



body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 60em; 
    /* border-left: 10px solid rgba(0, 0, 0, 0.11); */
    /* border-right: 10px solid rgba(0, 0, 0, 0.11); */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}
pre {
    /* border: 1px dotted gray; */
    background-color:rgba(128, 128, 128, 0.151);
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
    font-size: 120%;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #7a5ada; 
}
h1, h2, h3, h4, h5 { font-family: "Arial Black", Helvetica, sans-serif;
                     font-weight: bold;
                     border-bottom: 10px solid rgba(0, 0, 0, 0.11);
                     color: #4e4e4e; }
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 140%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }


#TOC {
  position: fixed;
  background: rgb(221, 221, 221);
  left: 0;
  top: 0;
  max-width: 40px;
  height: 100%;
  font-size: 0%;
  transition: max-width 4s;
}

#TOC:hover {
  position: fixed;
  background: rgb(221, 221, 221);
  left: 0;
  top: 0;
  width: fit-content;
  max-width: 9999px;
  height: 100%;
  font-size: 100%;
  overflow:auto;
}