body {
    /* background-color: lightblue; */
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-color:#515c6b;

    font-family: "Courier New";
    color:white;
}
