@font-face {
  font-family: "HeaderFont";
  src: url("Shizuru-Regular.ttf");
  }

@font-face {
  font-family: "BodyFont";
  src: url("Karla-Regular.ttf");
}

html{
  --background-color:rgb(27,29,33);
  --font_color_dark:white;
  --font_color_light:rgba(255, 255, 255, 0.315);
  --font_color_link: rgb(16, 164, 249);
  --shadow: rgb(0, 0, 0);

  background-color: var(--background-color);
  color: var(--font_color_dark);
  font-family: 'BodyFont', sans-serif;
  font-size: 1.1em;
  transition: all .5s ease-in-out;
}

body{
  margin-left: 9%;
  margin-right: 9%;
}

/* header{
  background-color: rgb(83, 83, 83);
  padding-left: 2em;
} */

/* h1{
  text-align: right;
} */

h1::before, h2::before, h3::before {
  padding-right: .5em;
  content: "❯";
  color: var(--font_color_light);
  font-weight: 500;
  font-family: "HeaderFont";
}

.postDates{
  color: var(--font_color_light);
  font-size: .7em;
}

article{
  /* border-style: solid; */
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 1em;
  padding-left: 1em;
  padding: .7em;
  margin:.4em;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


body{
  display: flex;
  flex-direction: column
}

a {
  color: var(--font_color_link);
  text-decoration: none;
  transition: color .4s ease-in-out;
  /* filter: drop-shadow(-.15em .15em .05em var(--shadow))1 */
}

a:hover {
  color: var(--font_color_dark);
  /* font-weight: 700; */
  /* letter-spacing: -.035em; */
}

.postPreview{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /* color: var(--font_color_light); */
}

.title{
  font-family: "HeaderFont", cursive;
  /* color: var(--font_color_link); */
  text-align: center;
  text-transform: uppercase;
  text-shadow: -0.1em 0.1em 0.2em #000000;
}

.subtitle{
  /* font-family: "HeaderFont", cursive; */
  /* color: var(--font_color_link); */
  text-align: right;
}

.title::before{
  content: "";
}