---
layout: layouts/base.njk
---

{# <article class="content mt-5"> #}
  <h1>{{ title }}</h1>
  <p class="date">
    <time>{{ page.date | fDate}}</time>
  </p>
  {{ content | safe }}
{# </article> #}

<script src="https://utteranc.es/client.js"
        repo="tesserato/tesserato.github.io"
        issue-term="url"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>